:root{
	--cfondo-osc: black;
	--ctexto-osc: white;
	--ctext2-osc: #959595;
	--ancho-total: 2048px;
	--fondo-nav:#f7612d;
	--color-enf: #f79a2d;
}
*{
	box-sizing: border-box;
}
html{
	font-size: calc(14px + (26 - 14) * ((100vw - 300px)/ (3200 - 300)));
}
body{
	background-color:var(--cfondo-osc);
	color:var(--ctexto-osc);
	font-family: 'Montserrat', sans-serif;
	margin:0;
	padding-top:1em;
	padding-left: max(1em, env(safe-area-inset-left));
	padding-right: max(1em, env(safe-area-inset-right));
	padding-bottom: max(1em, env(safe-area-inset-bottom));
}
img{
	max-width:100%;
	height:auto;
}
iframe{
	max-width:100%;
}

#logo{
	background:url(/img/logo-maria-moctezuma-naranja.png) no-repeat .5em 50%;
	background-size:contain;
	height:85px;
	color:transparent;
	margin:1em .5em;
	font-size:1.8em;
	overflow:hidden;
	max-width:100%;
}
#logo a,
#logo a:visited,
#logo a:hover,
#logo a:active{
	display: inline-block;
	height: 100%;
	color: transparent;
	font-size: 1.2em;
}
header#header{
	max-width:var(--ancho-total);
	margin:0 auto;
}
nav ul{
	display:flex;
	flex-flow: row wrap;
	align-items: stretch;
	gap:2em;
	background-color:var(--fondo-nav);
	list-style:none;
	padding:1.8em 2em;
	margin:0 auto;
}
nav li{
	text-align:center;
	flex: auto;
	font-size:.85em;
}
nav li a,
nav li.actual{
	transition: all .3s;
	padding:1em;
	display:block;
	border-radius:3px;
	text-transform: uppercase;
	color:var(--ctexto-osc);
	text-decoration: none;
}
nav li.actual{
	cursor:default;
	background-color:var(--color-enf);
}
nav li a:hover{
	transform: translateY(-.8em);
	background-color:var(--color-enf);
}

yt-vid,
.yt-vid-fall{
	width:560px;
	min-width:300px;
	max-width:100%;
	margin:0 auto;
}
.slider{
	max-width:2048px;
	aspect-ratio: 21 / 9;
	margin:0 auto;
	overflow: hidden;
	position:relative;
}
.slider .slide{
	max-width:100%;
	height:100%;
}
.slide iframe,
.slide yt-vid,
.slider .yt-vid-fall{
	width:100%;
}
.slider img,
.slider video,
.yt-vid-fall{
	object-fit:cover;
	max-width:100%;
	height:auto;
}
.yt-vid-fall{
	display:block;
	aspect-ratio: 16/9;
	position:relative;
}
.slider .yt-vid-fall{
	aspect-ratio:21/9;
}
.yt-vid-fall picture{
	position: absolute;
	top:0;
	left:0;
	width:100%;
}
.yt-vid-fall img{
	width:100%;
	object-fit: cover;
	aspect-ratio: 16/9;
}
.slider .yt-vid-fall img{
	aspect-ratio: 21/9;
}

.yt-vid-fall picture:focus {
	outline: 2px solid red;
}

.slider .slide{
	position: relative;
}
.slider video + div{
	position:absolute;
	top:auto;
	left:auto;
	right:1em;
	bottom:.8em;
	font-size:2em;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
	opacity:.69;
	font-family: 'Shadows Into Light', cursive;
}

main{
	max-width:var(--ancho-total);
	margin:0 auto;
}
h1,h2,h3,h4,h5,h6,.mmoc{
	font-family: 'Shadows Into Light', cursive;
}
.home h2,.home h3,
.videos h2{
	border-bottom:3px solid;
  	border-image: linear-gradient(to right, var(--fondo-nav) 60px, transparent 60px) 100% 1;
	width:fit-content;
	margin-left:auto;
	margin-right:auto;
	font-size:2rem
}
.videos h2{
	margin-top:0;
	margin-bottom:2em;
	font-size:2rem;
}

.mmoc{
	font-size:1.1em;
}
p,small{
	color:var(--ctext2-osc);
}
main p{
	line-height:1.3;
	text-align:justify;
	max-width:calc(79ch + 2rem);
}
main p,
main h1,
main pre,
main cite{
	padding-left:1rem;
	padding-right:1rem;
	margin-left:auto;
	margin-right:auto;
}

main .galeria{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	gap:1rem;
	flex-shrink: 0;
	margin:0 auto;
	max-width:var(--ancho-total);
}
main .galeria article{
	max-width:calc(500px + 2em);
	border:1em solid var(--ctexto-osc);
	text-align:center;
	border-radius:3px;
	background-color:var(--ctexto-osc);
}
.ico{
	vertical-align: middle;
	background:var(--fondo-nav);
	padding:5px;
	width:64px;
	height:64px;
	border-radius:3px;
	transition:all .3s;
}
.ico:hover{
	transform:rotate(-12deg) scale(1.3) translateY(-.8em);
	background:var(--color-enf);
}

.legal{
	text-align:center;
	font-size:.8em;
	padding-top:1em;
	border-top:1px solid var(--fondo-nav);
	margin-top:2rem;
}

.tricol{
	display:flex;
	flex-flow: row wrap;
	flex-shrink: 0;
	justify-content:space-between;
	gap:1rem;
}
.tricol > div,
.tricol > article{
	flex:1 1 auto;
	text-align:center;
}
.tricol > article{
	border-bottom: 1px solid #fff5;
	margin-bottom: 1.3em;
}

.imgtxt{
	vertical-align: top;
	border-radius:3px;
	margin-bottom:.5em;
}
.a-der{
	float:right;
	margin-left:1rem;
}
.a-izq{
	float:left;
	margin-right:1em;
}

.txt-cen{
	text-align:center;
}
footer{
	clear:both;
}
.legal .mmoc{
	color:var(--fondo-nav);
}

@media (max-width: 1113px){
	nav ul{
		gap:.8em;
		padding:.8em;
	}
}
@media (max-width: 872px){
	#logo{
		height:64px;
		margin:.3em .25em;
	}
	nav ul{
		gap:.2em;
		padding:.25em .1em;
	}
}
@media (max-width: 758px){
	nav ul{
		gap:.1em;
		padding:.1em;
	}
	nav li:first-child{
		display:none;
	}
	nav li a,
	nav li.actual{
		padding:.8em .5em;
	}
	.slider video + div{
		font-size:1.5em;
	}
}
