:root{
	--cfondo-osc: black;
	--ctexto-osc: white;
	--ctext2-osc: #959595;
	--ancho-total: 2048px;
	--fondo-nav:#f7612d;
	--fondo-nav-rgb: 247, 97, 45;
	--color-enf: #f79a2d;
}
*{
	box-sizing: border-box;
}
html{
	font-size: calc(14px + (26 - 14) * ((100vw - 300px)/ (3200 - 300)));
}
body{
	background-color:var(--cfondo-osc);
	color:var(--ctexto-osc);
	font-family: 'Montserrat', sans-serif;
	margin:0;
	padding:0;
}
img{
	max-width:100%;
	height:auto;
}
iframe{
	max-width:100%;
}

#header{display:grid;grid-template-columns:250px 1fr;gap:1em;align-content: center;background-color:var(--fondo-nav);color:var(--ctexto-osc);border:1rem solid var(--fondo-nav);border-top-width:1px;border-bottom-width:1px;padding-top:env(safe-area-inset-top);padding-left:max(1em, env(safe-area-inset-left));padding-right:max(1em, env(safe-area-inset-right));padding-bottom:env(safe-area-inset-bottom);}
#logo{background:url(/img/maria-moctezuma-logo-blanco.svg) 50% 50% no-repeat;color:transparent;font-size:9px;min-height:4rem;background-size:contain;overflow:hidden;}
#header nav ul{margin:0;padding:0;display:flex;height:100%;align-items:center;justify-content:center;}
#header nav li{padding:0;display:inline-block;text-transform: uppercase;}
#header nav a,#header nav li.actual{padding:.75rem;display:block;color:var(--ctext-osc);text-decoration:none;}
#header nav a:active,#header nav a:hover,#header nav li.actual{background-color:var(--color-enf);border-radius:3px;}
#header nav a:active,#header nav a:hover{margin-top:-1rem;transition:all .3s}

a,
a:visited{
	color:var(--color-enf);
	text-decoration:none;
}
nav li a:hover{
	transform: translateY(-.8em);
	background-color:var(--color-enf);
}
a:active,
a:focus,
a:hover{
	text-decoration: underline;
}

main a{
	word-wrap: break-word;
}

yt-vid,
.yt-vid-fall{
	min-width:min(560px, calc(100vw - 4em));
	max-width:100%;
	margin:0 auto;
}
.slider{
	max-width:2048px;
	aspect-ratio: 21 / 9;
	margin:0 auto;
	overflow: hidden;
	position:relative;
}
.slider .slide{
	max-width:100%;
	height:100%;
}
.slide iframe,
.slide yt-vid,
.slider .yt-vid-fall{
	width:100%;
}
.slider img,
.slider video,
.yt-vid-fall{
	object-fit:cover;
	max-width:100%;
	height:auto;
}
.yt-vid-fall{
	display:block;
	aspect-ratio: 16/9;
	position:relative;
}
.slider .yt-vid-fall{
	aspect-ratio:21/9;
}
.yt-vid-fall picture{
	position: absolute;
	top:0;
	left:0;
	width:100%;
}
.yt-vid-fall img{
	width:100%;
	object-fit: cover;
	aspect-ratio: 16/9;
}
.slider .yt-vid-fall img{
	aspect-ratio: 21/9;
}

.yt-vid-fall picture:focus {
	outline: 2px solid red;
}

.slider .slide{
	position: relative;
}
.slider video + div{
	position:absolute;
	top:auto;
	left:auto;
	right:1em;
	bottom:.8em;
	font-size:2em;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
	opacity:.69;
	font-family: 'Shadows Into Light', cursive;
}

main{
	max-width:var(--ancho-total);
	margin:0 auto;
}
h1,h2,h3,h4,h5,h6,.mmoc{
	font-family: 'Shadows Into Light', cursive;
}
.home h2,.home h3,
.videos h2{
	border-bottom:3px solid;
  	border-image: linear-gradient(to right, var(--fondo-nav) 60px, transparent 60px) 100% 1;
	width:fit-content;
	margin-left:auto;
	margin-right:auto;
	font-size:2rem
}
.videos h2{
	margin-top:0;
	margin-bottom:2em;
	font-size:2rem;
}
.home .tricol > div iframe,
.home .tricol > div blockquote,
.home .tricol > div img{
	border-radius:13px;
}

.mmoc{
	font-size:1.1em;
}
p,small{
	color:var(--ctext2-osc);
}
main p{
	line-height:1.3;
	text-align:justify;
	max-width:calc(79ch + 2rem);
}
main p,
main h1,
main pre,
main cite{
	padding-left:1rem;
	padding-right:1rem;
	margin-left:auto;
	margin-right:auto;
}

main .galeria{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	gap:1rem;
	flex-shrink: 0;
	margin:0 auto;
	max-width:var(--ancho-total);
}
main .galeria article{
	max-width:calc(500px + 2em);
	border:1em solid var(--ctexto-osc);
	text-align:center;
	border-radius:3px;
	background-color:var(--ctexto-osc);
}
.ico{
	vertical-align: middle;
	background:var(--fondo-nav);
	padding:5px;
	width:64px;
	height:64px;
	border-radius:3px;
	transition:all .3s;
}
.ico:hover{
	transform:rotate(-12deg) scale(1.3) translateY(-.8em);
	background:var(--color-enf);
}

.legal{
	text-align:center;
	font-size:.8em;
	padding-top:1em;
	border-top:1px solid var(--fondo-nav);
	margin-top:2rem;
}

.tricol{
	display:flex;
	flex-flow: row wrap;
	flex-shrink: 0;
	justify-content:space-between;
	gap:1rem;
}
.tricol > div,
.tricol > article{
	flex:1 1 auto;
	text-align:center;
}
.tricol > article{
	border-bottom: 1px solid #fff5;
	margin-bottom: 1.3em;
}

.imgtxt{
	vertical-align: top;
	border-radius:3px;
	margin-bottom:.5em;
}
.a-der{
	float:right;
	margin-left:1rem;
}
.a-izq{
	float:left;
	margin-right:1em;
}

.txt-cen{
	text-align:center;
}
footer{
	clear:both;
}
.legal .mmoc{
	color:var(--fondo-nav);
}

main footer{
	font-size:smaller;
}

@media (max-width: 1113px){
	nav ul{
		gap:.8em;
		padding:.8em;
	}
}
@media (max-width: 872px){
	#logo{
		height:64px;
		margin:.3em .25em;
	}
	nav ul{
		gap:.2em;
		padding:.25em .1em;
	}
}
@media (max-width: 758px){
	nav ul{
		gap:.1em;
		padding:.1em;
	}
	nav li:first-child{
		display:none;
	}
	nav li a,
	nav li.actual{
		padding:.8em .5em;
	}
	.slider video + div{
		font-size:1.5em;
	}
}
