:root{
	--cfondo-osc: black;
	--ctexto-osc: white;
	--ctext2-osc: #959595;
	--ancho-total: 2048px;
	--fondo-nav:#f7612d;
	--color-enf: #f79a2d;
}
*{
	box-sizing: border-box;
}
html{
	font-size: calc(14px + (26 - 14) * ((100vw - 300px)/ (3200 - 300)));
}
body{
	background-color:var(--cfondo-osc);
	color:var(--ctexto-osc);
	font-family: 'Montserrat', sans-serif;
	margin:0;
	padding-top:1em;
	padding-left: max(1em, env(safe-area-inset-left));
	padding-right: max(1em, env(safe-area-inset-right));
	padding-bottom: max(1em, env(safe-area-inset-bottom));
}
img{
	max-width:100%;
	height:auto;
}
iframe{
	max-width:100%;
}
#logo{
	background:url(/img/logo-maria-moctezuma-naranja.png) no-repeat .5em 50%;
	background-size:contain;
	height:85px;
	color:transparent;
	margin:1em .5em;
	font-size:1.8em;
}
header#header{
	max-width:var(--ancho-total);
	margin:0 auto;
}
nav ul{
	display:flex;
	flex-flow: row wrap;
	align-items: stretch;
	gap:2em;
	background-color:var(--fondo-nav);
	list-style:none;
	padding:1.8em 2em;
	margin:0 auto;
}
nav li{
	text-align:center;
	flex: auto;
	font-size:.85em;
}
nav li a,
nav li.actual{
	transition: all .3s;
	padding:1em;
	display:block;
	border-radius:3px;
	text-transform: uppercase;
	color:var(--ctexto-osc);
	text-decoration: none;
}
nav li.actual{
	cursor:default;
	background-color:var(--color-enf);
}
nav li a:hover{
	transform: translateY(-.8em);
	background-color:var(--color-enf);
}

.slider{
	max-width:2048px;
	aspect-ratio: 21 / 9;
	margin:0 auto;
	overflow: hidden;
}
.slider .slide{
	max-width:100%;
}
.slider img,
.slider video{
	object-fit:cover;
	max-width:100%;
	height:auto;
}
.slider .slide{
	position: relative;
}
.slider video + div{
	position:absolute;
	top:auto;
	left:auto;
	right:1em;
	bottom:.8em;
	font-size:2em;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
	opacity:.69;
	font-family: 'Shadows Into Light', cursive;
}

main{
	max-width:var(--ancho-total);
	margin:0 auto;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Shadows Into Light', cursive;
}
p,small{
	color:var(--ctext2-osc);
}
main p{
	line-height:1.3;
	text-align:justify;
	max-width:calc(79ch + 2rem);
}
main p,
main h1,
main pre,
main cite{
	padding-left:1rem;
	padding-right:1rem;
	margin-left:auto;
	margin-right:auto;
}

main .galeria{
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	gap:1rem;
	flex-shrink: 0;
	margin:0 auto;
	max-width:var(--ancho-total);
}
main .galeria article{
	max-width:calc(500px + 2em);
	border:1em solid var(--ctexto-osc);
	text-align:center;
	border-radius:3px;
	background-color:var(--ctexto-osc);
}
.ico{
	vertical-align: middle;
	background:var(--fondo-nav);
	padding:5px;
	width:64px;
	height:64px;
	border-radius:3px;
	transition:all .3s;
}
.ico:hover{
	transform:rotate(-12deg) scale(1.3) translateY(-.8em);
	background:var(--color-enf);
}

.legal{
	text-align:center;
	font-size:.8em;
	padding-top:1em;
	border-top:1px solid var(--ctext2-osc);
	margin-top:1rem;
}

main.tricol{
	display:flex;
	flex-flow: row wrap;
	flex-shrink: 0;
	justify-content:space-between;
	gap:1rem;
}
main.tricol > div{
	flex:1 1 auto;
	text-align:center;
}

@media (max-width: 1113px){
	nav ul{
		gap:.8em;
		padding:.8em;
	}
}
@media (max-width: 872px){
	#logo{
		height:64px;
		margin:.3em .25em;
	}
	nav ul{
		gap:.2em;
		padding:.25em .1em;
	}
}
@media (max-width: 758px){
	nav ul{
		gap:.1em;
		padding:.1em;
	}
	nav li:first-child{
		display:none;
	}
	nav li a,
	nav li.actual{
		padding:.8em .5em;
	}
	.slider video + div{
		font-size:1.5em;
	}
}
